In [1]:
import numpy as np
import pandas as pd

In [10]:
bank = pd.read_excel("bank.xlsx")
bank.keys()

Index(['Account No', 'DATE', 'TRANSACTION DETAILS', 'CHQ.NO.', 'VALUE DATE',
       'WITHDRAWAL AMT', 'DEPOSIT AMT', 'BALANCE AMT', '.'],
      dtype='object')

In [26]:
bank.tail()

        WITHDRAWAL AMT  DEPOSIT AMT   BALANCE AMT
116196       117934.30          NaN -1.901902e+09
116197             NaN     300000.0 -1.901602e+09
116198             NaN     300000.0 -1.901302e+09
116199       109868.65          NaN -1.901412e+09
116200         5000.00          NaN -1.901417e+09

In [12]:
bank = bank.drop(['Account No','DATE','TRANSACTION DETAILS','CHQ.NO.','VALUE DATE','.'],axis = 1)

In [23]:
withdraw_df = pd.DataFrame(bank['WITHDRAWAL AMT'])
series = pd.notnull(withdraw_df['WITHDRAWAL AMT'])
withdrawal_data = withdraw_df[series]

In [63]:
deposit_df = pd.DataFrame(bank['DEPOSIT AMT'])
series2 = pd.notnull(deposit_df['DEPOSIT AMT'])
deposit_data = deposit_df[series2]

deposit_data.reset_index(drop = True,inplace = True)

deposit_data.isna().sum()

DEPOSIT AMT    0
dtype: int64

In [25]:
withdrawal_data.tail()

        WITHDRAWAL AMT
116194      1095668.87
116195      1218673.00
116196       117934.30
116199       109868.65
116200         5000.00

In [38]:
withdraw_fill = withdrawal_data.iloc[0:116200,0]
type(withdraw_fill)
withdraw_fill.reset_index(drop = True,inplace = True)
withdraw_fill.head()

0    133900.0
1     18000.0
2      5000.0
3    195800.0
4     81600.0
Name: WITHDRAWAL AMT, dtype: float64

In [ ]:
deposit_fill = d

In [39]:
bank['WITHDRAWAL AMT'] = bank['WITHDRAWAL AMT'].fillna(value = withdraw_fill)

In [44]:
withdraw_fill.shape, bank.shape

((53549,), (116201, 3))

In [45]:
bank_new = bank.iloc[0:53549,:]

In [66]:
bank_new.head()

   WITHDRAWAL AMT  BALANCE AMT  DEPOSIT AMT
0        133900.0    1000000.0    1000000.0
1         18000.0    2000000.0    1000000.0
2          5000.0    2500000.0     500000.0
3        195800.0    5500000.0    3000000.0
4         81600.0    6000000.0     500000.0

In [58]:
bank_new.drop(['DEPOSIT AMT'],axis = 1,inplace = True)

In [64]:
bank_new['DEPOSIT AMT'] = deposit_data

/Users/rohansharma/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [65]:
print(bank_new.shape)
bank_new.head()

(53549, 3)

   WITHDRAWAL AMT  BALANCE AMT  DEPOSIT AMT
0        133900.0    1000000.0    1000000.0
1         18000.0    2000000.0    1000000.0
2          5000.0    2500000.0     500000.0
3        195800.0    5500000.0    3000000.0
4         81600.0    6000000.0     500000.0

In [69]:
bank = pd.read_excel("bank.xlsx")
bank.keys()

bank = bank.drop(['Account No','DATE','TRANSACTION DETAILS','CHQ.NO.','VALUE DATE','.'],axis = 1)

withdraw_df = pd.DataFrame(bank['WITHDRAWAL AMT'])
series = pd.notnull(withdraw_df['WITHDRAWAL AMT'])
withdrawal_data = withdraw_df[series]
withdrawal_data.reset_index(drop = True,inplace = True)


deposit_df = pd.DataFrame(bank['DEPOSIT AMT'])
series2 = pd.notnull(deposit_df['DEPOSIT AMT'])
deposit_data = deposit_df[series2]
deposit_data.reset_index(drop = True,inplace = True)


bank_new = bank.iloc[0:53549,:]
bank_new.head()

bank_new.drop(['DEPOSIT AMT','WITHDRAWAL AMT'],axis = 1,inplace = True)
bank_new['DEPOSIT AMT'] = deposit_data
bank_new['WITHDRAWAL AMT'] = withdrawal_data

/Users/rohansharma/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:4102: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,
/Users/rohansharma/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/Users/rohansharma/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [70]:
bank_new.head()

   BALANCE AMT  DEPOSIT AMT  WITHDRAWAL AMT
0    1000000.0    1000000.0        133900.0
1    2000000.0    1000000.0         18000.0
2    2500000.0     500000.0          5000.0
3    5500000.0    3000000.0        195800.0
4    6000000.0     500000.0         81600.0